html {
    background-color: #3333;
}

#container {
    height: 325px;
    width: 350px;
    background-color: #3333;

    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 75px 75px 75px 75px;
    grid-template-areas:
    ". billAmount"
    ". tipPercentage"
    ". tipAmount"
    ". totalBill"
    "btn btn";
    margin: 0 auto;
    border: 5px solid #0b29d3;
    padding: 25px;
}

#billAmount {
    grid-area: billAmount;
}

#tipPercentage {
    grid-area: tipPercentage;
}
 
#tipAmount {
    grid-area: tipAmount;
}

#totalBill {
    grid-area: totalBill;
}

.inputStyling {
    height: 25px;
    width: 250px;
}

#btn {
    grid-area: btn;
    height: 25px;
    width: auto;
}



